*.pdf
Assignment1/datasets
Bokeh-2025.ipynb
dataframe memory optimization 2025.ipynb
Introduction to pandas 2025.ipynb
kickstarter-analysis-2025.ipynb
ks-projects-201801.csv
.DS_Store
Assignment2/logs
Assignment2/data
Assignment3/data
Assignment3/.ipynb_checkpoints